@charset "UTF-8";

body {
    background-color: springgreen;
} 

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:snow;
    text-align: center;
}

article#caixa {
    background-color: rgba(241, 130, 130, 0.979);
    width: 400px;
    margin: auto;
    padding: 1px 10px;
    box-shadow: 1px 4px 5px black;
    border-radius: 10px 12px 0px 8px;
}