@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,700&family=Gurajada&family=Lato:wght@700&display=swap');

html {
    font-size: 14px;
    margin: auto;
}

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
}

::before, ::after {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

div {
    display: BLOCK;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


header {
    background-color: #DCDCDA;
    margin: 0px;
    
}

header .sociais {
    display: flex;
    background-color: #686866;
    align-items: right ;
    justify-content:right;
    box-sizing: border-box;
    
    width: 100%;
    max-width: auto;
    height: 30px;


    margin: auto;
}

header .sociais p {
    font-size: 14px;
    color: rgb(255, 255, 255);
    align-items: center;
    margin-right: 10%;
}

header .container {
    display: flex;
    align-items: center;
    justify-content:center;
    
    width: 90%;
    max-width: 1500px;


    margin: auto;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

 header nav ul li a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.4em;
    padding: 1.2rem;
    transition: all 250ms linear 0s;
    border-style: solid;
    border-color: #0185C6;
    border-width: 0px;
}

header nav ul li a:hover {
    color: #5c5c5c;
    border-color:#0185C6;
    border-style: solid;
    border-bottom-width: 2px;
}

header nav ul li.button {
    list-style: none;
    margin: 0px 0px 0px 70px;
}

header nav ul li a.button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    font-weight: 900;
    padding: 1.6rem;
    transition: all 250ms linear 0s;
    background: #334F7D;
    border-style: solid;
    border-color: #1a0ac2;
    border-width: 1px;
    border-radius: 20px 10px ;
}


.button:hover {
    transform: scale(1);
    border-radius:  10px 20px ;
    color:rgb(224, 216, 216) ;
    background: #192841;
}

header img {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left:-20%;
    transition: all 250ms linear 0s;
}

header img:hover {
    transform: scale(1.1);
}

.contaoeste {
    width: 100%;
    height: auto;
    margin: 50px 0 0 0;
}

.contaoeste h2 {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 4.4rem;
    justify-content: center;
    padding:12% 0 15% 5%;
    margin: auto;
    
}

.contaoeste p {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 1.8rem;
    padding: 10px;
    margin: 10px 0 0 -10px;
}

.image-finances {
    display: inline-block;
    background-image: url(inicio.png);
    background-size: contain;
    background-repeat: no-repeat;


    width: 100%;

    

    margin: auto;
    padding: auto;

}

.image-black {
    width:48%;
    height: 0;
    padding-bottom: 29.6%;
    background-color: rgba(0, 0, 0, 0.9);
    float: left;
    position: relative;
    -webkit-box-shadow: 0px 10px 4px -3px rgba(0,0,0,0.53); 
    box-shadow: 0px 10px 4px -3px rgba(0,0,0,0.53);
    
}

.contaoeste.frasemar {
    display: flex;
    position: relative;
}

.frasemar {
    display: flex;
    background-color: #0d0441;
    align-items: right ;
    justify-content:right;
    box-sizing: border-box;
    position: fixed;
    
    width: 100%;
    max-width: auto;
    height: 95px;


    margin: -30px auto auto auto;
}   

.diferenciais {
    display: block;
    margin: 6%;
}

.diferenciais h2 {
    font-size: 3rem;
    color: rgb(48, 47, 47);
    text-align: center;
}

.diferenciais h3 {
    font-size: 1.1rem;
    color: rgb(48, 47, 47);
    text-align: center;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}

.box {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.otimizar {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: #686866;

    margin: 5% 0 0 15%;

    flex-wrap: wrap;
    justify-content: center;

    
}

.legenda {
    display: inline-block;
    width: 250px;
    height: 100px;
    margin: -18px 0 0 0;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(207, 196, 196);
    border-style: solid;
    
}

.legenda h1 {
    font-size: 1.4rem;
    margin: 10px 0 0 0;
    text-align: center;
}

.legenda p {
    font-size: 0.8rem;
    color: rgb(126, 126, 126);
    text-align: justify;
    line-height: 150%;
    margin: 5px 10px 0 10px;
}


.lucratividade {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: #686866;

    margin: 0 0 0 3%;

    flex-wrap: wrap;
    justify-content: center;

    
}

.redução {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: #686866;

    margin: 0 0 0 3%;

    flex-wrap: wrap;
    justify-content: center;

    
}

.funciona {
    display: inline-block;
    margin: 0 0 70px;
}

.box-function {
    display: flex;
    width: 250px;
    height: 100px;
    margin: -18px 0 0 0;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(207, 196, 196);
    border-style: solid;
}

.box-function h2 {
    display: inline-block;
    font-size: 1.5rem;
    justify-content: left;
    margin: 10px 0 0 0;
}

.box-function p {
    display: inline-block;
}


.icon {
  display: inline-block;
  margin: 0 0 0 5px;
}