@charset "utf-8";

@font-face {
    font-family: AvenirLTStd-Black;
    src: url('AvenirLTStd-Black.otf') format('opentype');
}

@font-face {
    font-family: AvenirLTStd-Medium;
    src: url('AvenirLTStd-Medium.otf') format('opentype');
}

@media (max-width: 768px) {
    html {
    font-size: 50%;
    }   

    .button {
        font-size: initial;
    }
}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}


body {
    background-color: #2941AB;
    font-family: AvenirLTStd-Black;
    font-size: 62.5%;
}


header {
    background-color: black;
    margin: 0px 0px 175px;
}

header .container {
    display: flex;
    align-items:left;
    justify-content: left;

    width: 90%;
    max-width: 980px;

    margin: 0px 0px 10px 46px;
}

 header img {
    margin: 6% 0% 6% 0%;
    padding: 15px 0px 7px 0px;
    
}

header picture source {
    margin: 6% 0% 6% 0%;
    padding: 15px 0px 7px 5px;
}

main {
    margin-bottom: 0px;
}

section.hero {
    margin: 0px 0px 25px;
}


section.hero .container {
    width: 90%;
    max-width: 965px;
    
    margin: auto;

    display: flex;
    width: 70%;
    max-width: 980px;
}

section.hero h1 {
    font-family: AvenirLTStd-Black;
    color: #1ED760;
    font-size: 13.5em;
    word-spacing:-2px;
    text-align: center;
    line-height: 10rem;
    font-weight: 300rem;
}

section.hero p{
    font-family: AvenirLTStd-Medium;
    font-weight: 600;
    color: #1ED760;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: auto;
}


section.hero h2 {
    font-family: AvenirLTStd-Medium;
    color: #1ED760;
    font-size: 3em;
    text-align: center;
    line-height: 1rem;
}


section.botão {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    font-size: 1rem;
    font-weight: 10;
    color:#2941AB ;
    background-color:#1ED760 ;
    margin: 0px 0px 0px;
    padding:14px 30px;
    text-decoration: none;
    border-radius: 25px;
    transition: all 150ms linear 0s;
}

.button:hover {
    transform: scale(1.1);
    background: #3aec78;
}

