@charset "utf-8";

@font-face {
    font-family: AvenirLTStd-Black;
    src: url('AvenirLTStd-Black.otf') format('opentype');
}

@font-face {
    font-family: AvenirLTStd-Medium;
    src: url('AvenirLTStd-Medium.otf') format('opentype');
}

@media (max-width: 768px) {
    html {
    font-size: 50%;
    }   
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}


body {
    background-color: #2941AB;
    font-family: AvenirLTStd-Black;
    font-size: 62.5%;
}


header {
    background-color: black;
}

header .container {
    display: flex;
    align-items:left;
    justify-content: left;

    width: 90%;
    max-width: 980px;

    margin: auto;
}

 header img {
    margin: 6% 0% 6% 0%;
    padding: 15px 0px 7px 0px;
    
}

header picture source {
    margin: 6% 0% 6% 0%;
    padding: 15px 0px 7px 5px;
}

main {
    margin-bottom: 80px;
}

section.hero {
    margin: 250px 0;
}


section.hero .container {
    width: 90%;
    max-width: 965px;
    
    margin: auto;

    display: flex;
    width: 70%;
    max-width: 980px;
}

section.hero p{
    font-family: AvenirLTStd-Medium;
    color: #1ED760;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 30PX 30PX 0px 30px;
}

section.hero h1 {
    font-family: AvenirLTStd-Black;
    color: #1ED760;
    font-size: 15em;
    word-spacing:0px;
    text-align: center;
    line-height: 10rem;
    font-weight: 300rem;
}

section.hero h2 {
    font-family: AvenirLTStd-Medium;
    color: #1ED760;
    font-size: 3em;
    text-align: center;
    line-height: 1rem;
}

.button {
    display:inline-block;
    font-size: 1rem;
    font-weight: 600;
    color:#2941AB ;
    background-color:#1ED760 ;
    margin: 0px 0px 0px 0px;
    padding:12px 30px;
    text-decoration: none;
    border-radius: 25px;
    transition: all 150ms linear 0s;

}

@media (max-width: 768px) {
    html{
        font-size: 50%;
    }
}